  /* Basic selector: id, class  */
  /* font, text */
  .page-header{
    background-color: #6E8B91;
  }
  #section-title{
      color: red;
  }
  .container{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  #footer-title{
      text-align: center;
  }


  /* Universal selector */ 
  *{
    padding: 0;
    margin: 0;
  }

  /* Child selector */
  .nav-menu > .menu-list{
    list-style-type: none;
    overflow: hidden;
  }
  .nav-menu .menu-list > .menu-item{
    float: left;
  }
  .menu-list .menu-item > a{
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  /* Attribute selector */
  a[href="#"] {
    color: black;
  }
  /* Pseudo class */
  a:hover{
    color: white;
  } 
  /* Pseudo element */
  .section-text{
    margin-top: 20px;
  }
  
  .section-text .text-content::first-line{
    color: blueviolet;
  }
  
  .text-content{
    position: relative;
  }
  
  .text-content::after{ 
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    border-bottom: 10px solid rebeccapurple;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%)
  }
  
  /* Box model */
  /* Color and Background */
  .section-text{
    margin-top: 70px;
    background-color: antiquewhite;
    padding: 30px 30px;
    border: 5px solid #6E8B91;
    border-radius: 18px;
  }